<header>
  <nav class="navbar navbar-light bg-custom shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px; color: #F8E831; margin-left: 10PX;"  class="fas fa-shipping-fast" routerLink="/home">&nbsp;</i>
      <strong style="font-size: 30px; color: #ffffff;" routerLink="/home">My Store</strong>
      <div class="form-group search-container">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        <span class="fas fa-search search-icon"></span>
      </div>
    </div>
    <!-- <button routerLink="/profile" class="btn">
      <i style="font-size: 30px;" class="fa fa-user"></i>
    </button> -->
    <button routerLink="/order-history" class="btn">
      <i style="font-size: 25px; color: #ffffff;" class="fa fa-history"></i>
    </button>
    <button routerLink="/cart" class="btn">
      <i style="font-size: 25px; color: #ffffff;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
   
  </nav>
</header>


