header .navbar {
  background-color: #5eb2b3;
  color: white;
}

.bg-custom {
  background-color: #5eb2b3 !important;
}


.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
  }
  