.container {
  padding: 20px;
  background-color: #FFFFFF;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main_image{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 100%;
  overflow: hidden
  }

.product-details {
  margin-top: 20px;
}

.price {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
}

.btn {
  background-color: #4caf50;
  color: white;
}
