
   .mybtn .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    background-color: #4caf50;
    border-color: #4caf50;
    color: white;
  }
  
  .center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 132px;
    width: 200px;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
}

.mybtn{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}