<app-header></app-header>
<div class="container">
  <div class="row" style="margin: 10px 0">
    <div class="col-md-8">
      <div class="form-group" style="display: flex; align-items: center">
        <label for="categoryFilter" style="margin-right: 10px; font-weight: 500"
          >Filter by Category:</label
        >
        <select
          id="categoryFilter"
          class="form-control"
          [formControl]="categoryFilterControl"
          style="width: 30%"
        >
          <option value="">All</option>
          <option value="phones">Phones</option>
          <option value="clothing">Clothing</option>
          <option value="books">Books</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group" style="display: flex; align-items: center">
        <label for="sortFilter" style="margin-right: 10px; font-weight: 500"
        >Sort by Price:</label
      >
      <select
        id="sortFilter"
        class="form-control"
        [formControl]="sortFilterControl"
        style="width: 68%"
      >
      <option value="select">select value</option>
        <option value="asc">Low to High</option>
        <option value="desc">High to Low</option>
      </select>
      </div>
      
    </div>
  </div>

  <div class="row">
    <ng-container
      *ngFor="
        let item of products
          | filter : searchKey : 'productName'
          | categoryFilter : categoryFilterControl.value
          | sortByPipe : sortFilterControl.value
      "
    >
      <div class="col-md-4">
        <div class="card">
          <a [routerLink]="['/product', item.id]">
            <img src="{{ item.productImageUrl }}" alt="" />
          </a>
          <h5
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100ch;
            "
          >
            {{ item.productName }}
          </h5>
          <p
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100ch;
            "
          >
            {{ item.description }}
          </p>
          <p>
            <strong>Price:</strong>
            {{ item.price | currency : "USD" : "symbol" : "1.2-2" }}
          </p>
          <button class="btn" (click)="addToCart(item)">Add to cart</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
