<app-header></app-header>
<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of products">
      <div class="col-md-4">
        <div class="card">
            <a [routerLink]="['/product', item.id]">  <img src="{{item.productImageUrl}}" alt=""> </a>
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.productName}}</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
          <p><strong>Price:</strong> ${{item.price}}</p>
          <button class="btn btn-primary" (click)="addToCart(item)">Add to cart</button>
          
        </div>
      </div>
    </ng-container>
  </div>
</div>
